.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: blue;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 75px;
}

.header-logo {
  position: absolute;
  right: 300px;
  margin-right: 200px;
}

.header-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header-page {
  width: 28px;
  font-size: 20px;
  text-align: center;
}

.buy-tic {
  display: block;
  background-color: #dddd00;
  width: 125px;
  height: 75px;
}